<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\inetpub\logs\NLog\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="os-doc-delete" fileName="C:\inetpub\logs\ONESolution\os-doc-delete-${shortdate}.log"
            layout="${longdate}&#9;${event-properties:item=EventId_Id}&#9;${uppercase:${level}}&#9;${logger}&#9;${message}&#9;${exception:format=tostring}&#9;${aspnet-request-url}&#9;${aspnet-mvc-action}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="ONESolution_API.Controllers.SpsOneController" minlevel="Info" writeTo="os-doc-delete" final="true" />
  </rules>
</nlog>